header {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: solid #000 1px;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.logo {
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 30px;
  display: inline-flex;
}

.logo p {
  color: mediumaquamarine;
  text-decoration: none;
  padding: 0 0 0 10px;
}

nav {
  text-decoration: none;
  align-items: center;
  padding: 10px 30px;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  padding: 20px 10px;
  text-decoration: underline;
  color: #000;
}

/* *****ROUND 3***** */

.main {
  display: inline-flex;
  position: relative;
  top: 90px;
  z-index: 4;
  font-family: Georgia;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.column_large {
  width: 630px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column_medium {
  width: 300px;
  display: flex;
  margin: 0 30px;
  flex-shrink: 0;
  flex-direction: column;
}

.column_small {
  width: 240px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-content: stretch;
}

/* *****ROUND 4***** */

h1 {
  font-size: 25px;
}

.article_image {
  display: flex;
  font-weight: bold;
  Font-size: 30px;
  color: #fff;
  height: 300px;
}

.article_story {
  font-size: 17px;
  color: #000;
}

#tunasteak {
  background-image: url("./images/img-story-main.png");
  font-size: 40px;
}

#earth {
  background-image: url("./images/img-story-2.png");
}

#camera {
  background-image: url("./images/img-story-3.png");
}

#cats {
  background-image: url("./images/img-story-1.png");
}

/* *****ROUND 5***** */
.large_left {
  width: 300px;
}

.large_right {
  width: 300px;
}

/* *****ROUND 5***** */
.news_bites h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news_bites li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: solid #000 1px;
  margin: 0 0 0 -25px;
  padding: 11px 20px;
  list-style-type: none;
}
